In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import os

%matplotlib inline

In [2]:
os.chdir("../")

# EDA

## Data processing

In [3]:
conn = sqlite3.connect("im.db")
cursor = conn.cursor()

In [4]:
movies = pd.read_sql('select * from movies', conn)

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   movie_rank           250 non-null    int64
 1   movie_id             250 non-null    object
 2   name                 207 non-null    object
 3   popularity           228 non-null    float64
 4   rating               250 non-null    float64
 5   rating_count         0 non-null      object
 6   user_review_count    250 non-null    int64
 7   critic_review_count  250 non-null    int64
 8   budget               209 non-null    float64
 9   revenue_usa          221 non-null    float64
 10  revenue_usa_opening  199 non-null    float64
 11  revenue_world        243 non-null    float64
 12  runtime              244 non-null    float64
 13  opening_date         199 non-null    object
 14  release_date         250 non-null    object
dtypes: float64(7), int64(3), object(5)
memory usage: 29.4+ KB

### Adjust for inflation for dollar amounts

   year  avg_annual_cpi
0  1913             9.9
1  1914            10.0
2  1915            10.1
3  1916            10.9
4  1917            12.8

In [7]:
cpi_table.tail()

     year  avg_annual_cpi
105  2018         251.107
106  2019         255.657
107  2020         258.811
108  2021         270.970
109  2022         282.432

In [8]:
CURRENT_CPI = float(cpi_table[cpi_table['year'] == 2022]['avg_annual_cpi'])